* {
    box-sizing: border-box;
}
html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10vh;
    scroll-behavior: smooth;
}
.section {
    width: 80vw;
    margin: auto;
    /* height: 100vh; */
    /* scroll-snap-align: start;
    scroll-snap-stop: always; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.section {
    /* opacity: 0; */
    /* transition: opacity 0.5s; */
}
.section.visible {
    opacity: 1;
}
.section-header {
    /* text-align: left; */
    margin: 0rem;
    margin: auto;
    padding: 1rem;
    border-bottom: 2px solid;
}
::-webkit-scrollbar {
    display: none;
}
body {
    color: white;
    margin: 0px;
}
.unscrollable {
    overflow: hidden;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}

h1 {
    margin: 0px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.go-top {
    cursor: pointer;
    position: fixed;
    padding: 0.5rem;
    bottom: 1rem;
    font-size: 1.2rem;
    right: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    z-index: 40;
}
.go-top:hover {
    background-color: rgb(10, 10, 10);
}
.go-top-scrolled {
    opacity: 1;
    pointer-events: all;
}
.nav-header {
    width: 100%;
    padding: 0rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.nav-header-scrolled {
    background-color: rgb(20, 20, 20);
}

.nav-header-item {
    padding: 0.5rem;
}

.nav-list {
    justify-content: flex-end;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-buffer {
    flex-grow: 1;
}

.nav-title-a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.nav-flex-item {
    font-weight: bold;
    padding: 1rem 1.5rem;
    transition: 0.5s;
    color: white;
    border-bottom: 2px solid transparent;
}

.nav-flex-item:hover {
    border-bottom: 2px solid white;
}

.buttons {
    width: 10rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    transition: 0.5s;
}
.buttons-special {
    width: 10rem;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    color: rgb(40, 40, 40);
    transition: 0.5s;
}
.buttons-special:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* background: #034694; */
    color: white;
}
.buttons:hover {
    background-color: white;
    color: rgb(40, 40, 40);
}

.buttons:active {
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-icon {
    display: none;
    color: white;
    font-size: 1.5rem;
    right: 0;
}

.menu-icon:hover {
    color: rgba(255, 255, 255, 0.8);
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    width: 100vh;
    z-index: -1;
}
.bg-image {
    /* position: absolute; */
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    /* transform: translateZ(-30px) scale(4); */
}

.bg-image::after {
    content: "";
    background-color: rgb(40, 40, 40);
    opacity: 0.8;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateZ(-20px) scale(3); */
}

.flex-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-section {
    /* height: 100vh; */
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13181d;
}
.about-header {
    /* border-bottom: 1px solid white; */
    margin: 0px;
}

.details-div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    height: 100%;

    padding: 1rem;
    margin: 1rem auto;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 0px 4px 0px #313e4b;
    border-radius: 1rem;
}
.detail-summary {
    text-align: left;
}
.profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    /* margin: auto; */
    padding: 1rem;
    width: 40%;
    /* height: 100%; */
    max-width: 20rem;
    object-fit: cover;
    height: 100%;
}
.primary-details {
    padding: 1rem;
    height: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    /* gap: 1rem; */
}
.detail {
    padding: 1rem 0rem;
}
.line {
    width: 100%;
}
.skills-section {
    /* background-color: rgb(16, 24, 21); */
    background-color: #0a4d68;
}
.skills {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    align-items: space-evenly;
    align-self: center;
    justify-content: space-evenly;
    justify-items: center;
    gap: 4rem 1rem;

    padding: 2rem;
    margin: 1rem auto;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 0px 4px 0px #0d6588;
    border-radius: 1rem;
}

.skill-item {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgb(255, 255, 255, 0.7);
}

.skill-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
}

.skill-item:hover .skill-icon {
    opacity: 0.6;
}

.projects-section {
    background-color: rgb(240, 240, 240);
    color: black;
    /* padding: 2rem; */
}
.projects {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    gap: 2rem;
    padding: 2rem;

    margin: 1rem auto;
    width: 95%;
    background-color: rgba(254, 254, 254, 0.04);
    box-shadow: 0px 0px 4px 0px rgb(196, 196, 196);
    border-radius: 1rem;
}

.project-item {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.project-image {
    width: 250px;
    height: 250px;
    object-fit: fill;
    transition: 0.5s;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}
.project-item:hover .project-image {
    transform: scale(1.05);
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.project-item:hover .project-title {
    opacity: 1;
}
.project-popup-overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: rgba(27, 27, 27, 0.6);
    overflow: hidden;
}
.project-popup {
    text-align: left;
    padding: 1rem;
    color: white;
    background-color: rgb(30, 30, 30);
    width: 80%;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    overflow: scroll;
}
.popup-close {
    position: absolute;
    right: 0%;
    top: 10%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: white;
}
.popup-close:hover {
    background-color: rgb(20, 20, 20);
}
.project-details {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 1rem;
}
.popup-header {
    background-color: inherit;
    width: 100%;
    position: sticky;
    top: -1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-right: 15%;
}
.popup-link-icon {
    cursor: pointer;
    font-size: 1rem;
}
.popup-link-icon:hover {
    transform: scale(1.1);
    color: beige;
}
.popup-image {
    width: 50%;
}
.popup-image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
.project-info {
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.project-skills {
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
}
.project-info h3 {
    /* border-bottom: 1px solid white; */
}
.skill-used {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.footer-section {
    /* width: 100vw; */
    background: rgb(2, 10, 20);
    /* background: linear-gradient(270deg, rgba(10,37,73,1) 0%, rgba(0,0,0,1) 100%); */
    text-align: center;
}

.contact-holder {
    margin: 1rem auto;
    text-align: center;
    flex: 1;
    /* height: 100vh; */
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 0px 4px 0px #23496d;
    border-radius: 1rem;
    gap: 2rem;
}
.contact-holder h2 {
    margin: 0px;
}
.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-icons {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(39, 39, 39);
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    transition: 0.5s;
}

.contact-icons:hover {
    color: white;
    background-color: rgb(39, 39, 39);
}

@media screen and (max-width: 1024px) {
    .section {
        width: 100vw;
    }
    /* .about-container {
        width: 100vw;
    } */
    .projects {
        grid-template-columns: repeat(auto-fill, 250px);
    }
    .project-popup {
        width: 100%;
    }
}
@media screen and (max-width: 860px) {
    .nav-header {
        height: 5rem;
        background-color: rgb(20, 20, 20);
    }

    .menu-icon {
        display: block;
        z-index: 10;
    }

    .nav-list {
        width: 100%;
        padding: 0;
        position: fixed;
        gap: 0;
        left: 0%;
        top: 5rem;
        flex-direction: column;
    }

    .nav-flex-item {
        color: white;
        background-color: rgb(20, 20, 20);
        padding: 0rem;
        width: 100%;
        height: 0px;
        overflow: hidden;
        pointer-events: none;
        transition: 0.5s;
        font-size: 0rem;
        border: 0px;
        border: 0px solid transparent;
    }

    .nav-show-items {
        padding: 1.5rem;
        border: 0px solid transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 1rem;
        height: 100%;
        pointer-events: all;
    }

    .nav-flex-item:hover {
        border: 0px solid transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background-color: rgb(25, 25, 25);
    }

    .skills {
        grid-template-columns: repeat(3, 100px);
    }

    .section {
        width: 100vw;
    }

    .project-popup {
        height: 95vh;
        width: 95vw;
    }
    .project-details {
        flex-direction: column;
    }
    .project-info,
    .popup-image {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    /* .details-div {
        flex-direction: column;
        align-items: center;
    } */
    .profile-pic {
        width: 70%;
    }
}
@media screen and (max-width: 650px) {
    .profile {
        flex-direction: column;
    }
}
@media screen and (max-width: 560px) {
    .skills {
        grid-template-columns: repeat(2, 100px);
    }
}
@media screen and (max-width: 380px) {
    /* .buttons,
    .buttons-special {
        padding: 0.4rem;
        width: 8rem;
    } */
    .profile-pic {
        width: 70%;
    }
}
@media screen and (max-height: 520px) {
    .project-popup {
        height: 95vh;
    }
}
